.Main_About_comp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    padding-bottom: 2rem;

    
}

.mainHead{
    font-size: 40px;
    color: black;
    border-bottom: 2px solid #000;
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;

}

.Maincard_Para{
    font-size: 19px;
    color: #000;
    padding: 1rem;

}
.Maincard_Para_up{
    font-size: 21px;
    color: #000;
    padding-top: 20px;
    font-weight: 600;
    margin: 0;
    border-bottom: 2px solid #c20000;
}

.icon-card-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    gap: 1rem; /* Space between cards */
}

.card {
    flex: 1;
    background-color:#fff;
    padding: 1rem;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.254); /* Optional: Adds a subtle shadow */
    border-radius: 8px; /* Optional: Rounds the card corners */
    
    height: 500px;
    max-height: min-content;
}


.card-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
   
}

.card-icons {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center; /* This will ensure equal spacing between icons */
    align-items: center;
}

.icons {
    width: calc(32% - 0.5rem); /* Considering 4 icons in a row and accounting for the gap */
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0.9);
    transition: transform 0.2s ease-in-out;
}

.icons:hover {
    transform: scale(1);
    opacity: 1;
}

.card-flex {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.flex-upper {
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-lower {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #c20000;
    flex-direction: column;
    font-weight: 600;
}

.card_3_para{
    font-size: 20px;
    color: black;
    border-bottom: 2px solid #c20000;
    font-weight: 600;
}

.card_3_para_1{
    font-size: 18px;
    color: black;
}

/* Responsive Design */
@media (max-width: 768px) {
    .icon-card-container {
        flex-direction: column;
    }

    .icons {
        width: 20%; /* Adjust to fit icons in a row in mobile view */
    }

    .mainHead{
        font-size: 30px;
    }
    .Maincard_Para{
        font-size: 16px;
    }
}

/* styles/AboutIconCard.css */

/* ... [rest of your styles] */

.upper-icons {
    width: 100%;   /* Taking the full width */
    max-width: 60px; /* Maximum width of the image */
    margin: 10px;  /* Some spacing around each image */
    flex-grow: 1; /* Allow images to grow if there's space */
    gap: 10px;
}

.flex-upper {
    display: flex; /* Making it a flex container */
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: center; /* Distribute items evenly with space around */
    align-items: center; /* Vertically center the images */
}

.center-icon {
    display: block; /* Display as block element */
    margin: auto;   /* Centering the image */
    max-width: 70px; /* Maximum width of the centered image */
    width: 100%; /* Taking the full width */
    transform: scale(0.9);
    transition: transform 0.2s ease-in-out;
}


.center-icon:hover {
    transform: scale(1);
    opacity: 1;
}