 .About_main {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  
  }
  
  .coin {
    width: 500px;
    height: 300px;
    /* position: relative; */
    margin: auto;
    animation: rotate_4001510 10s infinite linear;
    transform-style: preserve-3d;
  }
  
  .coin .side {
    /* position: absolute; */
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 50%;
    text-align: center;
    line-height: 1;
    backface-visibility: hidden;
  }
  
  .coin .heads {
    transform: rotateY(0deg);
  }
  
  .coin .tails {
    transform: rotateY(180deg);
  }
  
  @keyframes rotate_4001510 {
    100% {
      transform: rotateY(360deg);
    }
  }

  /* Typically, phones are smaller than 768px in width */
@media only screen and (max-width: 768px) {
  .coin {
      width: 250px !important;  /* Half the original size */
      height: 150px !important; /* Half the original height */
  }
}

/* For even smaller screens, like older iPhones */
@media only screen and (max-width: 480px) {
  .coin {
      width: 200px !important;  
      height: 120px !important;
  }

  .About_main {
      padding-top: 20px; /* Reducing the padding a bit */
  }
}



  