.cards {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .cards .red {
    background-color: hsla(0, 0%, 100%, 0.333);
  }
  
  .cards .blue {
    background-color: hsla(0, 0%, 100%, 0.333);
  }
  
  .cards .green {
    background-color: hsla(0, 0%, 100%, 0.333);
  }
  
  .cards .card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    height: 100px;
    width: 300px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: 400ms;
    padding: 10px;
    gap: 30px;

  }
  
  .cards .card p.tip {
    font-size: 1em;
    font-weight: 700;
  }
  
  .cards .card p.second-text {
    font-size: 17px;
    width: 50%;
  }
  
  .cards .card:hover {
    transform: scale(1.1, 1.1);
  }
  
  .cards:hover > .card:not(:hover) {
    filter: blur(10px);
    transform: scale(0.9, 0.9);
  }


  .MainSec_card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    padding-bottom: 60px;
    flex-wrap: wrap;
  }


  @media (max-width: 768px) { 
    .cards .card {
      flex-direction: row;
      gap: 30px;
      padding: 25px;
    }

    .ImagesAbout{
      width: 50px !important ;
    }
  }
  