.ec-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    
}

.ec-span-para{
    font-size: 20px;
    max-width: 70%;
    font-weight: 600;
}

.ec-span-para_1{

    font-size: 20px;
}
.ec-Head_1{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 30px;
}

.ec-content-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    align-items: center;
    gap: 20px;
}


.ec-content-top img {
    flex: 1;
    margin: 0 10px;
    width: 200px;
    height: 400px;
}

.ec-content-bottom {
    display: flex;
    justify-content: space-between;
}

.ec-card {
    flex: 1;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 0 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    transform: scale(0.9);
    transition: transform 0.6s ease-in-out;
    border-radius: 10px;
}

.ec-card:hover{
    transform: scale(1);
}

.ec-card-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(130, 130, 130, 0.456);

    padding-bottom: 10px;
}
.ec-content-top .ec-paragraph {
    flex: 1;
    margin: 0 10px;
    font-size: 20px;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
    .ec-content-top, 
    .ec-content-bottom {
        flex-direction: column;
    }

    .ec-content-top p,
    .ec-content-top img,
    .ec-card {
        margin-bottom: 20px;
    }
    .ec-Head_1{
        font-size: 22px;
    }
    .ec-paragraph{
        font-size: 17px !important;
    }
    .ec-span-para_1{

        font-size: 17px;
    }
}

